
	<button class="button button-light button-clear qi_pos button-large">
	<i class="icon ion-ios-gear-outline"></i>
	</button>

	<button class="button button-light button-clear qi_posi button-large">
		<i class="icon ion-ios-chatbubble-outline"></i>
	</button>
	      
	<ion-content overflow-scroll="true" class="my">
		<div class="login">
		      <div class="my_login">
			  	<div><img src="../img/user.png"></div>
			  	<div>未登录</div>
			  </div>
			  <div class="item my_login2 button item-button-left item-button-right button-clear button-light">
			  	<button class="button button-light button-outline">登录</button>
			  	<button class="button button-outline button-light">注册</button>
			  </div>
		 </div>
		<ul class="list my-list">
			<li class="item item1">
				<div>
					<b>购物车</b>
					<i>有<span>3</span>件商品</i>
				</div>
				<div>
					<img src="../img/goods1.png">
					<img src="../img/goods2.png">
					<img src="../img/goods3.png">
				</div>
				
				<!-- <ul ng-controller="httpCtrl">
					<li ng-repeat="it in livelist">{{it.imgsrc}}</li>
				</ul> -->	
			</li>
			<li class="item item-divider"></li>
			<li class="item item1">
				<div>
					<b>购物车</b>
					<i>有<span>3</span>件商品</i>
				</div>
				<div>
					<img src="../img/goods1.png">
					<img src="../img/goods2.png">
					<img src="../img/goods3.png">
				</div>
				
		   <!-- <ul ng-controller="myCtroller">
					<li ng-repeat="it in livelist">{{it.imgsrc}}</li>
				</ul> -->	
			</li>
			<li class="item item-divider"></li>
			<li class="item item1">
				<div>
					<b>购物车</b>
					<i>有<span>3</span>件商品</i>
				</div>
				<div>
					<img src="../img/goods11.png">
					<img src="../img/goods12.png">
					<img src="../img/goods13.png">
				</div>
				
				<!-- <ul ng-controller="httpCtrl">
					<li ng-repeat="it in livelist">{{it.imgsrc}}</li>
				</ul> -->	
			</li>
			<li class="item item-divider"></li>
		</ul>


	  
     </ion-content>
  
