	<button class="button button-light button-clear qi_pos button-large">
	<i class="icon ion-ios-gear-outline"></i>
	</button>

	<button class="button button-light button-clear qi_posi button-large">
		<i class="icon ion-ios-chatbubble-outline"></i>
	</button>
	      
	<ion-content overflow-scroll="true" class="my">
		<div class="login">
		      <div class="my_login">
			  	<div><img src="../img/user.png"></div>
			  	<div>未登录</div>
			  </div>
			  <div class="my_login2">
			  	<button class="button but1 button-light button-outline">登录</button>
			  	<button class="button but2 button-outline button-light button-right">注册</button>
			  </div>
		 </div>
		<ul class="list my-list">
			<li class="item item1">
				<div class="item item-icon-right">
					<b>购物车</b>
					<i class="iii">有<span>3</span>件商品</i>
					<i class="icon icons ion-chevron-right "></i>
				</div>
				
				<div>
					<img ng-repeat="it in livelist" src="{{it.imgsrc}}">
				</div>
			</li>
			<li class="item item-divider"></li>
			<li class="item item1">
				<div class="item item-icon-right">
					<b>购物车</b>
					<i class="iii">有<span>3</span>件商品</i>
					<i class="icon icons ion-chevron-right "></i>
				</div>
				
				<div>
					<img ng-repeat="it in livelist" src="{{it.imgsrc}}">
				</div>
			</li>
			<li class="item item-divider"></li>
			<li class="item item1">
				<div class="item item-icon-right">
					<b>购物车</b>
					<i class="iii">有<span>3</span>件商品</i>
					<i class="icon icons ion-chevron-right "></i>
				</div>
				
				<div>
					<img ng-repeat="it in livelist" src="{{it.imgsrc}}">
				</div>
			</li>
			<li class="item item-divider"></li>
		</ul>


	  
     </ion-content>

	
  
