
  .hh{
      background-color: rgb(198, 10, 30);
      padding:8px;
		.aa{
	   font-size:1.4rem;
	   }
	   .search-tet{
		font-size:0.12rem;
		background:#eee;
	    font-weight:bold;
	    padding-left:0.8rem;
	    height:100%;
	   }
   }
.content{
  background:#eee;
	.row{
		width:100%;
	  .col{
	     width:50%;
		.item-left{
		    
	        height:67px;
			border:0;
			padding:14px 0 0 63px;
			min-height:0;
			 .listimg{
				width: 46px;
			    height: 46px; 
			}
			h2{
			font-size:.12rem;
			}
			p{
			  line-height:30px;
			  font-size:.12rem;
			  color:#999;
			}
	      }
		}
	}

 }  


